<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CombKayanGraveAcute</key>
  <string>C_ombK_ayanG_raveA_cute.glif</string>
  <key>CombWigglyLineBlw</key>
  <string>C_ombW_igglyL_ineB_lw.glif</string>
  <key>Increment</key>
  <string>I_ncrement.glif</string>
  <key>LtnCapAe</key>
  <string>L_tnC_apA_e.glif</string>
  <key>LtnCapTnSix</key>
  <string>L_tnC_apT_nS_ix.glif</string>
  <key>LtnInvGlottalStopCurl</key>
  <string>L_tnI_nvG_lottalS_topC_url.glif</string>
  <key>LtnSmSCurl</key>
  <string>L_tnS_mS_C_url.glif</string>
  <key>LtnSmTeshRetrHook</key>
  <string>L_tnS_mT_eshR_etrH_ook.glif</string>
  <key>LtnSmTnSix</key>
  <string>L_tnS_mT_nS_ix.glif</string>
  <key>VulgFracOneQuarter</key>
  <string>V_ulgF_racO_neQ_uarter.glif</string>
</dict>
</plist>
