<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>BitcoinSgn</key>
  <string>B_itcoinS_gn.glif</string>
  <key>CombDwnArrw</key>
  <string>C_ombD_wnA_rrw.glif</string>
  <key>CombKayanGraveAcute</key>
  <string>C_ombK_ayanG_raveA_cute.glif</string>
  <key>LtnSmHStrk.sc</key>
  <string>L_tnS_mH_S_trk.sc.glif</string>
  <key>LtnSmLRetrHook</key>
  <string>L_tnS_mL_R_etrH_ook.glif</string>
  <key>LtnSmSCurl</key>
  <string>L_tnS_mS_C_url.glif</string>
  <key>LtnSmTeshDigraph</key>
  <string>L_tnS_mT_eshD_igraph.glif</string>
  <key>LtnStretchedCCurl</key>
  <string>L_tnS_tretchedC_C_url.glif</string>
  <key>RefMrk</key>
  <string>R_efM_rk.glif</string>
</dict>
</plist>
